# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/
myenv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Python Cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Generated Prediction Report
reports/Prediction_Report.pdf