# Dataset
dataset/

# Models
models/
skin_app/models/

# Uploads
skin_app/static/uploads/
skin_app/static/outputs/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
myenv/

# VS Code
.vscode/

# PyCharm
.idea/