<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <button class="navbar-toggler ms-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">VGKM Course</a>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                {% if "user_id" in session %}

                    <!-- After Login -->

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/mycourses">My Courses</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>

                {% else %}

                    <!-- Before Login -->

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                {% endif %}

            </ul>

        </div>

    </div>
</nav>